<section class="row">
    <section class="column">
        <nav class="main inverse">
            <ul>
                <li>Администратор</li>
            </ul>
            <ul data-float="right">
                <li open-modal="new-user" style="cursor: pointer">Новый пользователь</li>
                <li><a href="/#logout">Выход</a></li>
            </ul>
        </nav>
    </section>
</section>
<section class="row">
    <section class="column laptop-6">
        <h2>Пользователи</h2>
    </section>
    <section class="column laptop-4">
        <h2>Группы</h2>
    </section>
</section>
<section class="row" ng-init="getRoles()">
    <section class="column laptop-3" ng-init="getUsers()">
        <ng-include src="'views/admin/users.html'"></ng-include>
    </section>
    <section class="column laptop-3">
        <ng-include src="'views/admin/user.html'"></ng-include>
    </section>
    <section class="column laptop-4">
        <ng-include src="'views/admin/group.html'"></ng-include>
    </section>
</section>

<section class="row" ng-init="getSetting()">
    <section class="column laptop-10">
        <h2>Общие настройки</h2>
        <label>
            <input type="checkbox" ng-model="setting.printDefault" ng-checked="setting.printDefault" ng-click="setSetting()">
            Автоматическая печать документов при создании заказа
        </label><br>
        <label>
            <input type="checkbox" ng-model="setting.uploadDefault" ng-checked="setting.uploadDefault" ng-click="setSetting()">
            Использование домашней директории для загрузки файлов
        </label>
    </section>
</section>

<section data-modal="new-user">
    <header>
        Новый пользователь
    </header>
    <section>
        <form name="newUser" novalidate data-float="center">
            <fieldset class="vertical">
                <label>Логин
                    <input type="text" ng-model="username" placeholder="Логин" required>
                </label>
                <label>Пароль
                    <input type="password" ng-model="password" placeholder="Пароль" required>
                </label>
                <label>Email
                    <input type="email" ng-model="email" placeholder="Email" required>
                </label>
            </fieldset>
            <fieldset class="vertical">
                <label>Имя
                    <input type="text" ng-model="firstName" placeholder="Имя" required>
                </label>
                <label>Фамилия
                    <input type="text" ng-model="lastName" placeholder="Фамилия" required>
                </label>
            </fieldset>
        </form>
    </section>
    <footer>
        <button close-modal="new-user">Закрыть</button>
        <button class="success close" ng-disabled="newUser.$invalid">Создать</button>
    </footer>
</section>