form[data-float="center"] {
  text-align: center;
}
fieldset {
  vertical-align: top;
}
label > input[type="checkbox"],
label > input[type="radio"] {
  height: auto;
}
.ng-valid.ng-touched {
  border: 1px solid green;
}
.ng-invalid.ng-touched {
  border: 1px solid red;
}
nav.main.inverse {
  background: #333;
  color: #fefefe;
}
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
body {
  font-family: Arial;
}
nav ul li.nohover:hover {
  background: transparent;
}
nav a {
  color: #fefefe;
}
nav a:hover {
  text-decoration: none;
}
progress {
  border: none;
  border-radius: 4px;
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset;
  width: 100%;
  height: 20px;
}
progress::-webkit-progress-bar {
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset;
  border-radius: 4px;
}
progress::-webkit-progress-value {
  border-radius: 4px;
  background: repeating-linear-gradient(45deg, transparent, transparent 15px, #bcf5bc 15px, #bcf5bc 30px) lightgreen;
}
progress::-moz-progress-bar {
  border-radius: 4px;
  background: repeating-linear-gradient(45deg, transparent, transparent 15px, #bcf5bc 15px, #bcf5bc 30px) lightgreen;
}
.round {
  border-radius: 50%;
  min-width: 16px;
  text-align: center;
  display: inline-block;
}
.round.warning {
  color: #333;
  background: #FFB74D;
}
.round.danger {
  background: red;
}
